[user]
	email = muhammadzainal240787@gmail.com
	name = Muhammad Zainal
	signingkey = 1A91D250E6419D4B
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
